<div>
	<img alt="A. HAJRI Tech. Challenge" src="src/images/logo.jpg"
		style="float: left;" /> <img alt="MarkLogic"
		src="src/images/marklogic.png"
		style="padding-right: 20px; float: right;" />
	<div class="home jumbotron centered">
		<br /> <br /> <br />
		<div id="searchbox" align="left">

			<input id="search" #search type="text"
				placeholder="Enter country name" /> <input id="submit"
				type="submit" value="Go" (click)="searchCountry(search.value)" />

		</div>
		<p>Call an API and get a response</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button"
				(click)="callAnonymousApi()">Call Anonymous API</a>
		</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button"
				(click)="callSecuredApi()">Call Secure API</a>
		</p>

		<h2 *ngIf="response">
			The response of calling the <span class="red">{{api}}</span> API is:
		</h2>
		<h3 *ngIf="response">{{response}}</h3>
	</div>
	<div>
		<p>
			<a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a>
		</p>
	</div>
</div>
