<div class="signup center-block jumbotron">
	<div style="display: inline;">
		<h2>Signup</h2>
		<img alt="MarcLogic" src="/src/images/marklogic.png" style="float: right;">
	</div>

	<br /> <br /> <br />
	<form role="form"
		(submit)="signup($event, username.value, password.value)">
		<div class="form-group">
			<label for="username">Username</label> <input type="text" #username
				class="form-control" id="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password">Password</label> <input type="password"
				#password class="form-control" id="password" placeholder="Password">
		</div>
		<img src="src/images/loader.gif" *ngIf="isLoading" />
		<button type="submit" class="btn btn-default">Submit</button>
		
		<a href="login">Login</a>
		<div>
		<label *ngIf="response" style="color: red;">{{response}}</label>
		</div>
	</form>

</div>
